.nav {
    height: 4rem;
    width: 100%;
    background-color: black;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    font-family: 'Big Shoulders Inline Display', cursive;
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 1rem 1rem 12rem;
  }